.formContainer {
    width:50%
}

@media (max-width:700px) {
    .formContainer {
        width:100%
    }
}

.mainHeading {
    display: flex;
    justify-content: start;
    margin-top: 15px;
}

.mainHeading .headingText {
    font-size: 20px;
}

.inputForm {
   margin-top: 15px;
   width: 50%;
}

.imagePreview{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
}

.imagePreview .image{
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.err{
    font-size: 15px;
    color: red;
}
