header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  }

  .logoContainer{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 6px 0px 0px 6px;
    cursor: pointer;
  }

  .prfileContainer{
    cursor: pointer;
  }

  .prfileContainer .logoOuter {
    border-style: outset;
    border-radius: 5px;
  }
  